<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Python Belt</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <h2>Register</h2>
        <form class="register" action="/register_user" method="post">
            {%for message in messages%}
                <p>{{message}}</p>
            {%endfor%}
            {%csrf_token%}
            Name:
            <input type="text" name="name">
            Email:
            <input type="email" name="email">
            Password:
            <input type="password" name="password">
            Confirm Password:
            <input type="password" name="confirm_password">
            Date Of Birth:
            <input type="date" name="dob">
            <input type="submit" value="Register">
        </form>
        <h2>Login</h2>
        <form class="" action="/login" method="post">
            {% csrf_token %}
            Email:
            <input type="email" name="email" placeholder="Email">
            Password:
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </body>
</html>
